 .header{
  display: inline-block;
  width:100%;
  font-family: 'Rammetto One', cursive;
  font-size: 4em;
  color: #84AA82;
  text-shadow: 
  #444 1px 1px 0px,
  #444 2px 2px 0px,
  #444 3px 3px 0px,
  #444 4px 4px 0px,
  #444 5px 5px 0px;
  text-transform: uppercase;
  letter-spacing: .6em;
  margin: 20px 0 36px;
/*  text-align: center;*/
  border-bottom: none;

}

.disclaimer {
  font-family: 'Arvo', serif !important;
  font-size:.8em;
  font-style: italic;
  line-height:20px;
  letter-spacing:.06em;
  text-align: center;
  margin:20px 0;
  border-bottom: none;
}

.player	{
	width: 300px;
}